/*
margin corresponde ao espaçamento externo da caixa em que o elemnto está até os 
cantos da página 

padding corresponde ao espaçamento interno do elemento em relação à sua própria caixa 

background corresponde ao fundo, no qual é possivel colocar uma cor sólida única 
ou em gradiente 

box - sizing: content-box não é uma boa prática, pois 
ao aumentarmos uma imagem, por exemplo, ou qualquer outro
elemento, o que ocorre é que a CAIXA DE CONTEÚDO (em que o 
elemento está) aumenta e não ele em  si, causando possiveis 
distorções. O ideal é utilizar box-sizing: border-box 

Utilizar o site: https://cssgradient.io/ 
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


#menu {
  display: flex; /*Selecionar o layout flexbox*/
  list-style: none; /*Tirar as bolinhas de cada item da lista*/
  padding: 25px;
  justify-content: center;
  margin-bottom: 25px;
}

#menu a {
  font-family: "Raleway", sans-serif; /*Aplicar uma fonte*/
  font-size: 17px; /*Aumentar o tamanho da fonte*/
  color: rgb(0, 0, 0); /*Aplicar uma cor a fonte*/
  text-decoration: none; /*Tirar o sublinhado do link*/
  flex-direction: row; /*Alinhar um ao lado do outro*/
  margin: 19px; /*Atribuir uma margin a cada item*/
  text-transform: uppercase;
}

/*Ao passar o mouse*/
#menu a:hover {
  color: rgb(0, 234, 255);
  background: linear-gradient(
    0deg,
    rgb(196, 125, 255) 0%,
    rgb(207, 170, 255) 100%
  );
}

header {
  background: rgb(14,14,14);
  background: linear-gradient(90deg, rgb(120, 17, 255) 0%, rgba(164,29,253,1) 50%, rgba(1,1,1,1) 100%);
  background-color: black;
  padding-bottom: 50px;
}

body {
  background-color: black;
}

.apresentacao {
  display: flex;
}

h1, span {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  line-height: 170%;
}

h2 {
  color: rgb(243, 243, 243);
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}


.left {
  
  flex: 5;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
 

}


.right {

  flex: 6;
  margin-right: 10px;
 
}


.btn {
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    padding: 6px;
    border-radius: 5px;

}

.btnContact {
   background: rgb(8, 8, 8);
   color: rgb(255, 255, 255);
   font-family: "Raleway", sans-serif;
   margin-top: 20px;
}

.btnContact:hover {
    background: rgb(176, 91, 255);
    color:white;
 }

 .containerServicos {
      background: rgb(0, 0, 0);
      display: flex;
      justify-content: center;
      padding: 50px;
 }

 .itemServico1, .itemServico3 {
  border: 1px solid rgb(129, 33, 255);
  border-radius: 5px;
  margin: 15px;
  padding: 40px 20px;
  text-align: center;
  width: 20%;
}

.itemServico2, .itemServico4 {
  border: 1px solid rgb(255, 33, 218);
  border-radius: 5px;
  margin: 15px;
  padding: 40px 20px;
  text-align: center;
  width: 20%;
}

.itemServico1:hover, .itemServico3:hover {
  border: 1px rgb(56, 11, 46);
  background: rgb(64, 36, 90);
  cursor:pointer;
}

.itemServico2:hover, .itemServico4:hover {
  border: 1px rgb(56, 11, 46);
  background: rgb(90, 36, 77);
  cursor:pointer;
}

html {
  scroll-behavior: smooth;
}

h3 {
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 50px;
  

}